<body style="background-color:#e08a12;">
    <nav>

        <div class="logo">vCart</div>

        <input type="checkbox" id="click">

        <label for="click" class="menu-btn">

            <i class="fas fa-bars"></i>
            <li><a class="active" href="#" [routerLink]="['']">Logout</a></li>

        </label>

    </nav>
    <img src="assets/admin2.png" style="width: 42%" class="d-inline-block align-top" alt="" align="left">
    <div class="content">

        <ul>
            &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <li><a align="center" class="active" href="#" [routerLink]="['/viewAllProducts']">Approve Products</a></li>
            &nbsp; &nbsp;
            <li><a align="center" class="active" href="#" [routerLink]="['/viewAllRetailer']">Approve Retailers </a>
            </li>
        </ul>

    </div>

</body>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<app-footer></app-footer>