<nav>
    <div class="logo">vCart</div>
    <input type="checkbox" id="click">
    <label for="click" class="menu-btn">
        <i class="fas fa-bars"></i>
    </label>
    <ul>
        <li><a href="#" [routerLink]="['']">Home</a></li>
        <li><a href="#" [routerLink]="['/CustomerRegistraionLink']">Register</a></li>
        <li><a href="#" [routerLink]="['/customerLogin']">Login</a></li>
    </ul>
</nav>
<div class="content">
    <br>
    <img src="assets/customer2.jpg" style="width: 50%" class="d-inline-block align-top" alt=""
        align="left"><br><br><br><br><br><br><br><br><br><br><br><br>
    <h2>
        <p class="thick" align="top">Customer</p>
        <p class="thick" align="top">Register/Login Page</p>
    </h2>
</div> <br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div></div>
<app-footer></app-footer>