<ng-container>
    <div class="container">
        <div class="card-table">
            <div class="cart-product">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Sr.No</th>
                            <th>Product Name</th>
                            <th>Product Image</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <div>
                                <td>{{products.productId}}</td>
                                <td>{{products.productName}}</td>
                                <td><img style="width: 120px;" src="{{products.img}}" alt=""></td>
                                <td style="width: 25%;">{{products.descriptio}}</td>
                                <th style="width: 12%;">{{products.productPrice}}</th>
                                <td style="width: 12%;">{{products.quantity}}</td>
                                <td style="width: 12%;">{{products.total}}</td>

                            </div>
                        </tr>
                        <tr>
                            <td colspan="4"></td>
                            <td><button (click)="emptycart()" class="btn btn-danger">Empty Cart</button></td>
                            <td><button routerLink="/customerProducts" class="btn btn-primary">Shop More</button></td>
                            <td><button class="btn btn-success">Checkout</button></td>
                            <td><strong>Grand Total : ₹ {{grandTotal}}</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</ng-container>