
<body>
    <form  #regForm="ngForm" (ngSubmit)="register()" >
        <div class="container">
            <h1>Register Retailer</h1>
            <p>Please fill in this form to create an account.</p>
            <hr>
 
            <label for="email"><b> Retailer Name</b></label>
            <input type="text" placeholder="Enter Name"  name="name" #rname="ngModel"  required  [(ngModel)]="retailer.retailerName"/>
 
            <label for="email"><b>Retailer Email</b></label>
            <input type="text" placeholder="Enter Email" name="mail"#ue="ngModel" required required [(ngModel)]="retailer.emailId"/>
 
            <label for="psw"><b>Retailer Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" #up="ngModel"  required  [(ngModel)]="retailer.password"/>
 
            <label for="psw"><b> Retailer Mobile Number</b></label>
            <input type="text" placeholder="Enter MobileNo." name="moob" #um="ngModel"required  [(ngModel)]="retailer.mobileNo"/>
 
           
 
            <hr>
 
            <button type="submit" class="registerbtn">Register</button>
        </div>
 
        <div class="container signin">
            <p style="text-align:center;">Already have an account? <a href="#" [routerLink]="['/retailerLogin']">Sign in</a>.</p>
        </div>
        <br>
    </form>
</body>
<app-footer></app-footer>