<body style="background-color:#e08a12;">
    <nav>

        <div class="logo">vCart</div>

        <input type="checkbox" id="click">

        <label for="click" class="menu-btn">
            <li><a class="active" href="#" [routerLink]="['']">Logout</a></li>

            <i class="fas fa-bars"></i>

        </label>


    </nav>



    <div class="content">

    </div>
    <br><br><br><br><br>
    <img src="assets/retailer3.jpg" style="width: 50%" class="d-inline-block" alt="" align="left"><br><br><br>
    <div class="context">
        <ul>

            <li>

                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                <a class="active" href="#" [routerLink]="['/addProductByRetailer']" align="right"> Add New Products</a>

            </li>
            <li>
                <a class="active" href="#" [routerLink]="['/productsByRetailerId']" align="right">View Your Products
                </a>
            </li>
        </ul>

    </div>
</body><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<app-footer></app-footer>